@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Known - Education HTML Template</title>
    <!--

    Known Template

    https://templatemo.com/tm-516-known

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand">Business Computing</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#team" class="smoothScroll">Professors</a></li>
                    <li><a href="#courses" class="smoothScroll">Courses</a></li>
                    <li><a href="#news" class="smoothScroll">News</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#top" class="smoothScroll">Login</a></li>
                    <li><a href="#" class="smoothScroll">Settings</a></li>
                </ul>
            </div>

        </div>
    </section>

    <!-- LOGIN -->
    <section id="login" class="#top">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form action="#" method="post">
                            <h2>Log In</h2>
                            <input type="text" name="username" class="form-control" placeholder="Username" required="">

                            <input type="password" name="password" class="form-control" placeholder="Password" required="">

                            <button class="submit-btn form-control" id="form-submit">Log In</button>

                            <p>Don't you have an account yet? Register now</p>

                            <button class="submit-btn form-control" id="form-submit" data-toggle="modal" data-target="#myModal">Sign Up</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FORMULARIO DE REGISTRO -->
    <div class="modal fade" id="myModal" role="dialog" hidden>

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title"> Agregar Estudiante </h4>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="photo">Fotografía</label>
                            <input type="file" class="form-inline" id="photo">
                        </div>

                        <div class="form-group">
                            <label for="studentId">ID Estudiante</label>
                            <input type="text" class="form-control" id="studentId" placeholder="Id Estudiante">
                        </div>

                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <label for="lastname">Apellidos</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Apellidos">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                            <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>

                        <div class="form-group">
                            <label for="interests">Intereses</label>
                            <input type="text" class="form-control" id="interests" placeholder="Intereses">
                        </div>


                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-success" id="btnAdd" data-dismiss="modal">Agregar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>


    <!-- HOME -->
    <section id="home">
        <div class="row">

            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">

                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Start your journey to a better life with online practical courses</h2>

                        <figure>
                            <span><i class="fa fa-users"></i></span>
                            <figcaption>
                                <h3>Professional Trainers</h3>
                                <p>Teachers willing to teach you everything about programming.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-certificate"></i></span>
                            <figcaption>
                                <h3>International Certifications</h3>
                                <p>The recognition that the university has, along with the accredited career, is a good boost in the curriculum.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-bar-chart-o"></i></span>
                            <figcaption>
                                <h3>Real World</h3>
                                <p> Graduates come out prepared to face the real world of work.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form action="#" method="post">
                            <h2>Signup today</h2>
                            <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                            <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                            <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                            <button class="submit-btn form-control" id="form-submit">Get started</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- TEAM -->
    <section id="team">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Professors <small>Meet Professional Trainers</small></h2>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="images/prof1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Gabriela Guevara</h3>
                            <span>Programming I</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/gaby.guevaramora" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="images/prof4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Fabian Fallas</h3>
                            <span>Programming II</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/fabian.fallasmoya.9" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="images/prof3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Gilberth Chaves</h3>
                            <span>
                                Algorithms and data structures
                                Operating systems
                            </span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/gilberth.chaves" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="images/prof2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Esteban Sanabria</h3>
                            <span> Languages ​​for commercial applications</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/esteban.sanabriamora.5" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-behance"></a></li>
                        </ul>
                    </div>
                </div>

		<!-- Profesores -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <button class="submit-btn form-control" id="form-profesor" data-toggle="modal" data-target="#ModalProfesor">Agregar Profesor</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<!-- FORMULARIO DE REGISTRO PROFESOR -->
    <div class="modal fade" id="ModalProfesor" role="dialog" hidden>

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title"> Agregar Profesor </h4>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="photo">Fotografía</label>
                            <input type="file" class="form-inline" id="photo">
                        </div>

                        <div class="form-group">
                            <label for="studentId">ID Profesor</label>
                            <input type="text" class="form-control" id="studentId" placeholder="Id Profesor">
                        </div>

                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <label for="lastName">Apellido</label>
                            <input type="text" class="form-control" id="name" placeholder="Apellido">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                            <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>

                        <div class="form-group">
                            <label for="interests">Intereses</label>
                            <input type="text" class="form-control" id="interests" placeholder="Intereses">
                        </div>

                        <div class="form-group">
                            <label for="grade">Grado Académico</label>
                            <input type="text" class="form-control" id="grade" placeholder="Grado Académico">
                        </div>

                        <div class="form-group">
                            <label for="isAdmin">Administrativo</label>
                            <input type="text" class="form-control" id="isAdmin" placeholder="Administrativo">
                        </div>

                        <div class="form-group">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" placeholder="Dirección">
                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-success" id="btnAdd" data-dismiss="modal">Agregar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>



    <!-- Courses -->
    <section id="courses">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-courses">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/database.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF5100 - DATABASE ADMINISTRATION</a></h3>
                                        <p>Students are familiar with the typical tasks of a database, the next step is to know how to perform these tasks in the different database managers (DBMS) offered by the market. This course seeks to reinforce basic concepts of database management systems data in order to achieve optimal performance of the database considering aspects such as: performance, integrity and data security.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof1.jpg" class="img-responsive" alt="">
                                            <span>Gabriela Guevara</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 25</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/alg.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF3001 - ALGORITHMS AND DATA STRUCTURES</a></h3>
                                        <p>In this course the concept of algorithm is analyzed in detail, as' as of its properties. It points to the strong relationship between algorithms and data structure. A tour of some of the most important algorithms of computer theory is made and it is determined what kind of problems can be efficiently solved on a computer.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof3.jpg" class="img-responsive" alt="">
                                            <span>Gilberth Chaves</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 80</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/progII.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF3000 - PROGRAMMING II</a></h3>
                                        <p>This course delves into the design and development of computer programs using a programming language. A comprehensive study of the object-oriented programming paradigm is conducted and introduced to the student in object-oriented design and analysis using the UML modeling language.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof4.jpg" class="img-responsive" alt="">
                                            <span>Fabian Fallas</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/eco.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF6200 - COMPUTING ECONOMICS</a></h3>
                                        <p>
                                            This is a course that reviews fundamental elementsof the business context. It includes
                                            concepts of economics, which introduce the student to the learning of micro and macroeconomic
                                            theory and its application in the corporate environment.
                                            Also the accounting of the aspects related to the management of the accounting cycle for a
                                            service and commercial company, essential for decision-making. It also provides
                                            basic notions in the field of finance, its current importance and perspectives, the elaboration
                                            of budgets and lastly, the formulation and economic evaluation of computer science projects.
                                        </p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof2.jpg" class="img-responsive" alt="">
                                            <span>Esteban Sanabria</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="#"><span>USD 45</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/algebra.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">MA0322 - LINEAR ALGEBRA</a></h3>
                                        <p>
                                            This course is one of the most useful for Computer students. It is the first course in
                                            that concepts are as important as calculations. It is also a course for
                                            motivate applications. This course introduces all of the concepts of linear algebra in
                                            a specific framework before going on to consider them in general. In addition it is done
                                            emphasis on geometric intuition.
                                        </p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof1.jpg" class="img-responsive" alt="">
                                            <span>Gabriela Guevara</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/so.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF4001 - OPERATING SYSTEM</a></h3>
                                        <p>
                                            The course is oriented to the study of the design of operating systems and their mechanisms of
                                            internal implementation. Based on the above, the most common operating systems are analyzed, their
                                            internal structure and appropriate design mechanisms to build operating systems. Also I know
                                            They study the effects that new computer technologies have on operating systems.
                                            Regarding case studies, several operating systems are contemplated: Local, network,
                                            distributed and for PDA.
                                        </p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof3.jpg" class="img-responsive" alt="">
                                            <span>Gilberth Chaves</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/logic.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF1400 - COMPUTER SCIENCE LOGIC</a></h3>
                                        <p>
                                            Modernly, logic has become a matter not only profound, but of
                                            wide-breadth and application to other sciences, and especially in the
                                            Computer Science field. Logic contributes to the development of reflection capacity,
                                            analysis and imagination to act more openly and logically, providing an appropriate use of language to better interpret troubleshooting problems, as well as the use of symbology and diagrams that will allow you to perform a more systematic and orderly analysis for your reasoning.
                                        </p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof1.jpg" class="img-responsive" alt="">
                                            <span>Gabriela Guevara</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/redes.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF5100 NETWORKS AND DATA COMUNICATIONS</a></h3>
                                        <p>
                                            This course is intended to provide the student with a number of important concepts in the
                                            Data Communication field, as well as orientating him with product management of a particular data - communication system.
                                            At the end of the course, the student will be able to manipulate communication devices for data transmission depending on the existing needs. He may also recognize and understand each of the components that form a data network, as well as identify appropriate means of transmission for telematics projects.
                                        </p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof3.jpg" class="img-responsive" alt="">
                                            <span>Gilberth Chaves</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <img src="images/len.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                            <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="#">IF4101 LANGUAJES FOR COMMERCIAL APPLICATIONS</a></h3>
                                        <p>This course allows its participants to gain the knowledge needed to develop commercial software applications, using different programming languages, development tools and application frameworks.  The course explains the operation of languages that enable the construction of applications that allow keeping data and other information files, as well as the set of tools used for the design of graphic user interfaces.  The course allows the student to dive into at least two different application frameworks.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="images/prof2.jpg" class="img-responsive" alt="">
                                            <span>Esteban Sanabria</span>
                                        </div>
                                        <div class="courses-price free">
                                            <a href="#"><span>Free</span></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Noticias</h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="images/comunicaciones.png" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Título</h4>
                                    <span>Autor</span>
                                </div>
                                <p>Resumen</p>
                                <div>
                                    <a href="https://www.w3schools.com/default.asp" class="fa fa-external-link-square"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="images/comunicaciones.png" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Título</h4>
                                    <span>Autor</span>
                                </div>
                                <p>Resumen</p>
                                <div>
                                    <a href="https://www.w3schools.com/default.asp" class="fa fa-external-link-square"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <button type="submit" class="center-block submit-btn" data-toggle="modal" data-target="#myNews"></button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- FORMULARIO DE NOTICIAS -->
    <div class="modal fade" id="myNews" role="dialog" hidden>

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title"> Agregar Noticia </h4>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="news">Archivo</label>
                            <input type="file" class="form-inline" id="news">
                        </div>

                        <div class="form-group">
                            <label for="title">Título</label>
                            <input type="text" class="form-control" id="title" placeholder="Título">
                        </div>

                        <div class="form-group">
                            <label for="author">Autor</label>
                            <input type="text" class="form-control" id="author" placeholder="Autor">
                        </div>

                        <div class="form-group">
                            <label for="summary">Resumen</label>
                            <input type="text" class="form-control" id="summary" placeholder="Resumen">
                        </div>

                        <div class="form-group">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" id="link" placeholder="Link">
                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-success" id="btnAdd" data-dismiss="modal">Agregar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                            <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">

                            <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                            <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="Send Message">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Headquarter</h2>
                        </div>
                        <address>
                            <p>Paraiso Enclosure</p>
                        </address>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2019 Company Name</p>

                            <p>Design: TemplateMo</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Contact Info</h2>
                        </div>
                        <address>
                            <p>+506 2511 7550</p>
                            <p><a href="mailto:youremail.co">asip@youremail.co</a></p>
                        </address>

                        <div class="footer_menu">
                            <h2>Quick Links</h2>
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Investor</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                        <div class="section-title">
                            <h2>Newsletter Signup</h2>
                        </div>
                        <div>
                            <div class="form-group">
                                <form action="#" method="get">
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                    <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                </form>
                                <span><sup>*</sup> Please note - we do not spam your email.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/custom.js"></script>

</body>
</html>